
.Options {
    position: absolute;
    z-index: 3;
    border: 1px solid #ced4da;
    background-color: #ffffff;

    &-Option {
        margin: 0;
        padding: 0.1rem 1rem;
        width: 100%;

        &:hover {
            cursor: default;
            background-color: #ced4da; 
        }

        &:focus {
            background-color: #000000; 
        }
    }
}