.navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center; 
    background: #212529;
    width: 100%;
    text-align: right;
}
.btn-admin {
    margin-right: auto;
    margin-left: 1rem;
}
.navigation-text, .navigation-link {
    display: inline-block;
    color: #ffffff;
    margin: 1rem;
    justify-content: flex-end
}

.navigation-text:hover {
    cursor: default;
}

.navigation-link:hover {
    color: grey;
    cursor: pointer;
}