html {
    font-size: 15px;
}

.container {
    margin-top: 3rem;
}

label {
    font-size: 1.2rem;
}

.label-error {
    display: block;
    margin-bottom: 1rem;
    height: 1rem;
    color: red;
}

.list {
    padding: 0 0 0 1rem ;
    font-size: 1.2rem;
}

.list-element {
    display: inline-block;
    margin-right: 0.5rem;
    width: 15rem;
}

.list-btn-remove {
    vertical-align: middle;
    float: right;
}
.list-btn-edit {
    vertical-align: middle;
    margin-left: 4rem;
}

.form-btnSubmit {
    margin: 1rem 0;
    float: right;
}

.input {
    width: 100%;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    outline-color: #007bff;
}

.row {
    overflow: hidden;
}

.red-border {
    border: 0.1rem solid red;
}
